body {
	margin: 0;
	padding: 1vh 1vw;
}

h1 {
	float: left;
}

#devices {
	border: 1px solid grey;
	float: right;
	padding: 1rem;
	margin: 1rem 1rem 0 0;
}

table {
	clear: both;
}

tr {
	margin: 0;
	padding: 0;
}

td {
	margin: 0;
	padding: 0;
}

.bars-container {
	position: relative;
	width: 48vw;
	height: 70vh;
	border: 1px solid black;
}

.bar {
	position: absolute;
	bottom: 0;
	padding-right: 0.5px;
}

.mean-volume-level {
	position: absolute;
	left: 0;
	right: 0;
	height: 5px;
	z-index: 10;
	opacity: 0.8;
	background: black;
}
